<!DOCTYPE html>
<html>
  <head>
    <title>Sp1derogr4phy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">sp1derogr4phy</a>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <%= yield %>

    <div id="footer">
      <div class="container">
<div class="row">
      <div class="col-12 col-sm-3">
        <b>Temp</b>
        <br />
        <%= link_to 'Teach a Course', '#' %>
        <br />
        <%= link_to 'My Dashboard', '#' %>
      </div>
      <div class="col-12 col-sm-3">
        <b>About</b>
        <br />
        <%= link_to 'Team', '#' %>
        <br />
        <%= link_to 'Careers', '#' %>
        <br />
        <%= link_to 'Privacy Policy', '#' %>
      </div>
      <div class="col-12 col-sm-3">
        <b>Contact</b>
        <br />
        nicholasfearns@gmail.com
        <br />
        FEARHQ
        <br />
        Beamsville, ON L0R 1B7
      </div>
      <div class="col-12 col-sm-3 social">
        <b>Social</b>
        <br />
        <br />
        <%= link_to 'https://github.com/fear0470' do %>
          <span class="fa fa-github-square fa-2x social-button"></span>
        <% end %>
        <%= link_to 'https://www.facebook.com/reidbadiou' do %>
          <span class="fa fa-facebook-square fa-2x social-button"></span>
          <% end %>
          <%= link_to 'https://twitter.com/nckfrns' do %>
            <span class="fa fa-twitter-square fa-2x social-button"></span>
            <% end %>
      </div>
    </div>
      </div>
</div>
  </body>
</html>
